@font-face {
  font-family: Sans1;
  src: url(./Cerebri\ Sans\ Italic.ttf);
}
@font-face {
  font-family: Sans2;
  src: url(./Cerebri\ Sans\ SemiBold\ Italic.ttf);
}

* {
  padding: 0;
  margin: 0;
}
.card {
  margin: auto;
  padding: 40px;
  box-sizing: border-box;
  width: 455px;
  height: 690px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  background-color: #ed5136;
  border-radius: 4%;
}
.card-text {
  text-align: center;
  font-family: Sans1;
  color: #dbdbdb;
  font-size: 18px;
}
.card-title {
  margin-top: 15px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-family: Sans2;
  font-size: 40px;
}
.card-button {
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  font-family: Sans2;
  background-color: #2e3035;
  color: #b58c46;
  width: 150px;
  padding: 15px 0;
  font-size: 13px;
  margin: auto;
  margin-top: 40px;
}
.card-img {
  width: 100%;
}
.conteiner {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.circle1 {
  border: 1.5px solid #ffbb4e;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
.circle2 {
  border: 1.5px solid #ffbb4e;
  background-color: #ffbb4e;
  width: 12px;
  height: 12px;
  border-radius: 100%;
}
